// Copyright (c) {{ author_name }}
// Distributed under the terms of the Modified BSD License.

import { examplePlugin } from './plugin';

export * from './version';
export * from './widget';

export default [examplePlugin];
